################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AssQual_TP3_Library/bin/Debug/netstandard2.0
